<form autocomplete="off" onsubmit="event.preventDefault();">
  {{#if currency}}
    <div class="form-group stacked">
      <label>{{ localize "LetsTrade5E.Currency"}}</label>
      <ul class="currency">
        {{#each currency as |max coin|}}
          <li>
            <label>
              <input class="currency-input" type="number" data-dtype="number" data-coin="{{coin}}" min="0" max="{{max}}" value="0" />
              {{coin}}
            </label>
          </li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    <div class="form-group stacked">
      <label>{{ localize "LetsTrade5E.ItemToTrade"}}</label>
      <div class="flexrow">
        <img
          class="profile item-profile"
          src="{{item.img}}"
          title="{{item.name}}"
        />
        <h3 class="item-name">{{ item.name }}</h3>
      </div>
    </div>

    {{#if showquantity}}
    <div class="form-group">
      <label>{{ localize "LetsTrade5E.Quantity"}}</label>
      <input class="quantity-input" type="text" data-dtype="number" value="{{quantity}}" />
    </div>
    <div class="flexrow">
      <button class="quantity-quick-btn" data-qsize="one">{{ localize "LetsTrade5E.One"}}</button>
      <button class="quantity-quick-btn" data-qsize="half">{{ localize "LetsTrade5E.Half"}}</button>
      <button class="quantity-quick-btn" data-qsize="all">{{ localize "LetsTrade5E.All"}}</button>
    </div>
    {{/if}}
  {{/if}}

  <div class="form-group stacked">
    <label>{{ localize "LetsTrade5E.SelectCharacter"}}</label>
    <ul class="directory-list">
      {{#each characters}}
      <li class="actor directory-item flexrow" data-actor-id="{{this.id}}">
        <img
          class="profile actor-profile"
          src="{{this.img}}"
          title="{{this.name}}"
        />
        <h3 class="entity-name"><a>{{this.name}}</a></h3>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="form-group">
    <button class="btn btn-secondary cancel">{{ localize "LetsTrade5E.ButtonCancel"}}</button>
    <button class="btn btn-primary submit" disabled>{{ localize "LetsTrade5E.ButtonSend"}}</button>
  </div>
</form>
