.lets-trade-window img.profile.item-profile {
    flex: 0 0 42px;
    height: 42px;
    border: none;
}

.lets-trade-window img.profile {
    flex: 0 0 32px;
    height: 32px;
    border: none;
}

.lets-trade-window .entity-name {
    font-size: 16px;
    line-height: 42px;
    margin: 0 0 0 5px;
}

.lets-trade-window .item-name {
    font-size: 22px;
    line-height: 42px;
    margin: 0 0 0 5px;
}

.lets-trade-window li {
    padding: 5px 0 0 5px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.lets-trade-window li.active {
    font-weight: bold;
    border-color: #ff6400;
    background: rgba(0, 0, 0, 0.1)
}

.lets-trade-window ul.currency {
    padding-left: 0px;
}

.lets-trade-window .currency li {
    list-style: none;
    text-align: center;
}